.input-group-text {
  background-color: white;
  border-right: 0;
}

.input-group .form-control {
  border-left: 0;
}

.btn-light:hover {
  background-color: #f8f9fa;
  color: #96989b;
}

/* ProductCard.css */
.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
}

.card-hover:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}
